In [ ]:
#From pgAdmin, export the vine_table as a CSV file, and save it to your Amazon_Vine_Analysis GitHub repository.
#Create a new Jupyter Notebook, and name it Vine_Review_Analysis.ipynb.
#Read in the vine_table.csv file as a DataFrame, and perform your analysis using the steps above.
#Save your Vine_Review_Analysis.ipynb file to your Amazon_Vine_Analysis GitHub repository.

In [25]:
import pandas as pd

In [27]:
vine_table_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/M16_Challenge/vine_table.csv")

In [28]:
vine_table_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RDIJS7QYB6XNR,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
2,R1UE3RPRGCOLD,2,1,1,N,Y
3,R298788GS6I901,5,0,0,N,Y
4,RNX4EXOBBPN5,1,1,1,N,Y
...,...,...,...,...,...,...
1785930,RPC430LWZJ60T,5,1,1,N,N
1785931,R347MZT5FH6HRJ,5,2,2,N,N
1785932,RJ5BETZP0VIUS,1,0,2,N,N
1785933,R85QTDO2KZMGO,1,1,3,N,N
1785934,R2W36RZZZNTYWF,5,1,1,N,N

In [37]:
vine_table = vine_table_df["total_votes"] >= 20
vine_table

0          False
1          False
2          False
3          False
4          False
           ...
1785930    False
1785931    False
1785932    False
1785933    False
1785934    False
Name: total_votes, Length: 1785935, dtype: bool

In [38]:
vine_table_df = vine_table_df[vine_table]
vine_table_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,R4PKAZRQJJX14,1,21,34,N,N
123,R2CI0Y288CC7E2,1,21,35,N,Y
258,R127WEQY2FM1T3,1,147,175,N,Y
338,R3EZ0EPYLDA34S,1,14,31,N,Y
532,R2FJ94555FZH32,2,55,60,N,N
...,...,...,...,...,...,...
1785626,R3GYUWLD9FWCPS,5,30,30,N,N
1785652,R26KS4Q9G04FIV,2,8,21,N,N
1785726,RU0J1ZMBCLD27,5,27,29,N,N
1785744,R1D69XH2THYKTG,5,18,20,N,N
1785873,R3U5C85OV6BUKM,4,38,43,N,N

In [79]:
helpful_votes_percentage = (vine_table_df["helpful_votes"]/vine_table_df["total_votes"])*100
helpful_votes_percentage

104         61.764706
123         60.000000
258         84.000000
532         91.666667
586         78.461538
              ...
1785579     90.000000
1785626    100.000000
1785726     93.103448
1785744     90.000000
1785873     88.372093
Length: 40565, dtype: float64

In [ ]:
vine_table_df.insert(1, "helpful_percentage", helpful_votes_percentage)

In [81]:
filter_df = vine_table_df["helpful_percentage"] >= 50
filter_df

104        True
123        True
258        True
532        True
586        True
           ...
1785579    True
1785626    True
1785726    True
1785744    True
1785873    True
Name: helpful_percentage, Length: 40565, dtype: bool

In [82]:
vine_table_df = vine_table_df[filter_df]
vine_table_df

,review_id,helpful_percentage,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,R4PKAZRQJJX14,61.764706,5,21,34,N,N
123,R2CI0Y288CC7E2,60.000000,5,21,35,N,Y
258,R127WEQY2FM1T3,84.000000,5,147,175,N,Y
532,R2FJ94555FZH32,91.666667,5,55,60,N,N
586,R1U3AR67RE273L,78.461538,5,51,65,N,Y
...,...,...,...,...,...,...,...
1785579,RCMDCDJR16IKW,90.000000,5,27,30,N,N
1785626,R3GYUWLD9FWCPS,100.000000,5,30,30,N,N
1785726,RU0J1ZMBCLD27,93.103448,5,27,29,N,N
1785744,R1D69XH2THYKTG,90.000000,5,18,20,N,N
1785873,R3U5C85OV6BUKM,88.372093,5,38,43,N,N

In [83]:
vine_yes = vine_table_df["vine"] == "Y"
vine_no = vine_table_df["vine"] == "N"

In [84]:
vine_yes_df = vine_table_df[vine_yes]
vine_no_df = vine_table_df[vine_no]

In [85]:
vine_yes_df

,review_id,helpful_percentage,star_rating,helpful_votes,total_votes,vine,verified_purchase
32654,R3KKUSGFZWSUIY,88.888889,5,56,63,Y,N
33155,R10FO5UKKVZBK2,100.000000,5,23,23,Y,N
69710,RM4KSGEOR7MU1,79.166667,5,19,24,Y,N
155372,RG7VRMYLEXD23,84.615385,5,22,26,Y,N
239323,R11O4YSCPSNL6L,76.923077,5,20,26,Y,N
...,...,...,...,...,...,...,...
1456807,RLPTVGLU0JQIP,93.333333,5,42,45,Y,N
1463278,R3ASJ9SENYYYI0,86.956522,5,40,46,Y,N
1481106,RNU8PK609WT6P,95.856354,5,347,362,Y,N
1506298,R8YT75NJW0CM9,92.500000,5,37,40,Y,N
1506586,R2EDL85YVF0PRA,71.875000,5,23,32,Y,N

In [86]:
vine_no_df

,review_id,helpful_percentage,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,R4PKAZRQJJX14,61.764706,5,21,34,N,N
123,R2CI0Y288CC7E2,60.000000,5,21,35,N,Y
258,R127WEQY2FM1T3,84.000000,5,147,175,N,Y
532,R2FJ94555FZH32,91.666667,5,55,60,N,N
586,R1U3AR67RE273L,78.461538,5,51,65,N,Y
...,...,...,...,...,...,...,...
1785579,RCMDCDJR16IKW,90.000000,5,27,30,N,N
1785626,R3GYUWLD9FWCPS,100.000000,5,30,30,N,N
1785726,RU0J1ZMBCLD27,93.103448,5,27,29,N,N
1785744,R1D69XH2THYKTG,90.000000,5,18,20,N,N
1785873,R3U5C85OV6BUKM,88.372093,5,38,43,N,N

In [87]:
total_reviews = vine_table_df["review_id"].count()
total_reviews

40565

In [88]:
total_fives = (vine_table_df["star_rating"] == 5).count()
total_fives

40565

In [89]:
vine_yes_fives = vine_yes_df["star_rating"].count()
vine_yes_fives

94

In [90]:
vine_no_fives = vine_no_df["star_rating"].count()
vine_no_fives

40471

In [95]:
yes_percentage = (vine_yes_fives/total_fives)*100
no_percentage = (vine_no_fives/total_fives)*100

print(f'Paid 5-Star Rating Percentage: {yes_percentage} % \nUnpaid 5-Star Rating Percentage: {no_percentage} %')

Paid 5-Star Rating Percentage: 0.23172685812892888 %
Unpaid 5-Star Rating Percentage: 99.76827314187106 %